/* Aqui você colocará seus estilos CSS */

body {
    font-family: sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    background-color: #f4f4f4; /* Cor de fundo */
    color: #333; /* Cor do texto */
}

.container {
    width: 80%; /* Largura do container */
    margin: 0 auto; /* Centraliza o container */
    max-width: 1200px; /* Largura máxima do container */
}

header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 1em 0; /* Preenchimento superior e inferior */
}

header h1 a {
    color: #fff; /* Cor do link do título */
    text-decoration: none; /* Remove sublinhado do link */
}

nav ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove preenchimento da lista */
    margin: 0; /* Remove margens da lista */
}

nav li {
    display: inline; /* Coloca os itens da lista em linha */
    margin-right: 20px; /* Espaçamento entre os itens da lista */
}

nav a {
    color: #fff; /* Cor dos links da navegação */
    text-decoration: none; /* Remove sublinhado dos links */
}

main {
    padding: 20px 0; /* Preenchimento superior e inferior */
}

#hero {
    background-color: #eee; /* Cor de fundo da seção Hero */
    padding: 50px 0; /* Preenchimento superior e inferior */
    text-align: center; /* Centraliza o texto */
}

.button {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento do botão */
    text-decoration: none; /* Remove sublinhado do botão */
    border-radius: 5px; /* Borda arredondada */
}

footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Centraliza o texto */
    padding: 1em 0; /* Preenchimento superior e inferior */
}